body{
 font-family: Arial, Helvetica, sans-serif;
 margin: 0;
 padding: 0;
}
.App{
  text-align: left;
}
header{
  background-color: aqua;
  color: white;
  padding-left: 20px;
}
.profile-image-container{
  margin-bottom: 20px;
}
.profile-image{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-position: cover;
}
header h1{
  margin: 0;
}
header{
  margin: 10px 0 0;
}
nav{
  background-color: brown;
  padding: 10px;
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li{
  display: inline;
  margin-right: 20px;
}
nav a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
section{
  margin: 20px 0;
  padding: 20px;
}
h2{
  color: rgb(47, 11, 81);
}
p{
  color: #090808;
}
@media screen and (max-width: 600px){

}